
.property-grid-base {
  background-color: #0ff;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  
}

.property-grid-wrapper {
  height:     100%;
  background-color:#888;
  overflow-y: auto;
}

/** The grid table theme */
.property-grid {
  width: 100%;
  background-color:#fff;
  border-collapse: collapse;
  overflow-y: scroll;
}

.property-grid-description-wrapper {
  height: 60px; 
  background-color:#ccc;
}

.property-grid-description {
  padding: 8px;
}

.property-grid-item {
  border: 1px solid #ccc;
  overflow: hidden;
  height: 20px;
}

.property-grid-category {
  background-color: #ccc;
  font-weight:bold;
  cursor: pointer;
}

.property-grid-category-body {
  display: table-row-group;
  opacity: 1;
}

.property-grid-category-body-hide {
  display: none; 
}

.property-grid-item-name {
  width: 45%;
  background-color: #eee;
  border: 1px solid #ccc;
  overflow: hidden;
}

.property-grid-item-name-text {
  margin-left: 10px;
  height: 20px;
}

.property-grid-item-name-selected {
  background-color: #ccc;
}

.property-grid-item-value {
  overflow: hidden;
}

/************************* VIEWS ****************************/
.property-grid-item-view-label {
  width: 100%;
  height: 20px;
}

.property-grid-item-view-color-base {
  width: 100%;
  height: 20px;
  overflow: hidden;
}

.property-grid-item-view-color-text {
  height: 20px;
  width: auto;
  overflow: hidden;
  display: inline;
}

.property-grid-item-view-color-preview {
  width: 30px;
  height: 14px;
  background-color: #f00;
  padding: 0px;
  border: 1px solid black;
  margin: 2px;
  float: right;
}


.property-grid-item-view-gradient-base {
  width: 100%;
  height: 20px;
  overflow: hidden;
}

.property-grid-item-view-gradient-preview {
  height: 14px;
  width: 100px;
  background-color: #f00;
  padding: 0px;
  border: 1px solid black;
  margin: 2px;
}


/************************* EDITORS ****************************/
.property-grid-item-editor-textbox {
  width: 100%;
  height: 20px;
  padding: 0px;
  border: 0px;
  font-family: 'Open Sans', sans-serif;
}

.property-grid-item-editor-slider {
  width: 100%;
  padding: 0px;
  border: 0px;
}

.property-grid-item-editor-slider-host {
  position: absolute;
  height: 30px;
  z-index: 10000;
  background-color: #ddd;
  border: 1px solid #000;
  padding: 0px;
}

.property-grid-item-editor-spinner {
  width: 100%;
  height: 20px;
  padding: 0px;
}

.property-grid-item-editor-color-picker-host {
  position: absolute;
  width: auto;
  z-index: 10000;
  background-color: #ddd;
  border: 1px solid #000;
  padding: 0px;
}

.property-grid-item-editor-color-picker {
  margin: 5px;
}


.property-grid-item-editor-browse-host {
  width: 100%;
  height: 30px;
  overflow: hidden;
  position: absolute;
  background-color: #fff;
  border: 1px solid black;
}

.property-grid-item-editor-browse {
  height: 30px;
  width: auto;
  overflow: hidden;
  display: inline;
  margin: 3px 0 0 3px;
}


/************************* Icons ****************************/
.property-grid-category-icon {
  width: 8px;
  height: 8px;
  margin: 4px;
  float: left;
}

.property-grid-icon-plus {
  background-image:url('../images/icon_plus.png');
  
}

.property-grid-icon-minus {
  background-image:url('../images/icon_minus.png');
}
